/webapp-bundle/cache/ckan-sos_cache
/webapp-bundle/src/main/webapp/cache.tmp
/webapp-bundle/src/main/webapp/configuration.db
target
.classpath
.externalToolBuilders
.project
.settings
nb*.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.externalToolBuilders
extensions/do/core/configuration.db
**.*~
*.tern-project
